/*PRODUCT basic page */
.product-info {
    border-top: 1px solid #d9d9d9;
    color: #606060;
    font-family: Arial;

    font-weight: normal;
    padding: 20px 0 !IMPORTANT;
    text-align: left;
}

    .product-info .ui-li-heading {
        margin: 0;
    }

    .product-info h1 {
        font-size: 120%!IMPORTANT;
        font-weight: bold;
		white-space: normal!IMPORTANT;
    }

    .product-info .ui-li .ui-btn-text a.ui-link-inherit {
        white-space: normal;
    }

    .product-info .price-old {
        font-style: italic;
        text-decoration: line-through;
		font-size: 80%!IMPORTANT;
        text-shadow: none;
    }

    .product-info .price {
        color: #245a98;
        font-size: 125%!IMPORTANT;
        font-style: italic;
        font-weight: bold;
    }

    .product-info .item-number {
        color: #393939;
    }

ul.product-info .ui-btn-inner > .ui-icon{
    color: #245A98;
    font-size: 200%;
    top: 20%;
    right:2.3%;
}
#category ul.product-info .ui-icon:before  {  right:0;s}

ul.product-info a.productTitleContainer {
    padding: 0 !important;

}
.save-message {
    color: #f58220;
	font-size: 80%!IMPORTANT;
    position: relative;
   line-height: 205%;

}

.in-stock-message {
    color: #77c12c;
    font-size: 90%!IMPORTANT;
    font-weight: bold;
}

.stars {
    color: #245a98;
    font-size: 120%;
    position: relative; top:-4%;
}

    .stars img {
        max-width: 23px;
    }

li.reviews-list {
    border-top: 1px solid #d9d9d9;
    color: #000;
    font-size: 90%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

    li.reviews-list span {
        color: #000;
        font-size: 90%;
    }

        li.reviews-list span.reviews-number {
            color: #949494;
			
        }
.reviews-list .ui-block-b,.reviews-list .ui-block-a {
  color:#000000;
}

.reviews-list h2 {
    font-size: 130%!IMPORTANT;
}
.fa-check-circle{
   display: inline-block;
    padding-right: 4%;
}

.ui-grid-a.top-section-grid .ui-block-b {
    padding-right: 2%;
    text-align: right;
}
.top-section-grid h2 {
  margin-bottom: 0;
}

.reviews-list .property-box {
    margin-bottom: 10px;
}

.reviews-list h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 90%;
}

.property-box .box-filled, .property-box .box-empty, .property-box .box-custom  {
    background-color: #245a98;
    border: 1px solid;
    border-color: #7c9cc1 #a5bbd5 #d3deea #4b77aa;
    display: inline-block;
    height: 12px;
    margin: 0 1px 0 0;
    width: 10%;
}
.customer-reviews-section .property-box .box-filled, .customer-reviews-section .property-box .box-empty, .customer-reviews-section .property-box .box-custom  {
    width: 14%;
}

 .property-box .box-custom {
     border: 0 none;
     margin-left: -2.2%;
     position: relative;
 }

.property-box  .box-custom .box-blue {
    background-color: #245a98;
    border: 0 none;
    display: inline-block;
    height: 12px;
    margin: 0 1px 0 0;
    max-width: 100%;
    position: absolute;
    width: 80%;
    
}

.property-box .box-empty, .property-box  .box-custom  {
    background-color: #c5c5c5;
    border-color: #dcdcdc #cfcfcf #f3f3f3 #e7e7e7;
}

.inlineHeader, .inlineHeader.ui-li-heading {
    color: #000;
    display: inline;
    font-weight: bold;
    width: auto;
}

.reviews-number {
    color: #949494;
    font-size:90%!IMPORTANT;
    font-style: italic;
    position: relative;
    bottom: 0px;
}

/*.arrow-right {
    font-size: 20px; position: absolute;
}
.arrow-left { position: absolute; }*/
.pdp-title-price-holder { padding:1.5%  3% !important; }


.pdp-title-price { display:table; width:100%; }
.pdp-title-price .ui-block-a { width:30%; }
.pdp-title-price .ui-block-b { width:35%; }
.pdp-title-price .ui-block-c { width:35%; }


.pdp-title-price .ui-block-a,
.pdp-title-price .ui-block-b,
.pdp-title-price .ui-block-c { display:table-cell; }

.pdp-title-price .ui-block-a.free-shipping-price { width:32%; }
.pdp-title-price .free-shipping-price {
    padding-left: 1.1%;
}

.free-shipping-price.padding-top {
    padding-top: 1%;
}


@media all and (max-width: 40em) {
    .pdp-title-price .ui-block-a,
    .pdp-title-price .ui-block-b,
    .pdp-title-price .ui-block-c,
    .pdp-title-price .ui-block-d,
    .pdp-title-price .ui-block-e {
      
    }
}

ul.product-info .pdp-item {
    background: #fff !IMPORTANT;
    padding: 0!IMPORTANT;
}

ul.product-info li.add-cart-pdp {
    border-top: 1px solid #d9d9d9;
    text-align: left;
    color: #606060;
    padding: 15px 0px!IMPORTANT;
}

ul.product-info {
    padding: 0!IMPORTANT;
    margin: 0!IMPORTANT;
}

    ul.product-info li.add-cart-pdp {
        border-top: 1px solid #d9d9d9;
        text-align: left;
        color: #606060;
        padding: 3.5% 0 !IMPORTANT;
        text-align: center;
    }
.stars {
	color:rgb(36, 90, 152)!IMPORTANT;
}
a.qty {
    background: #fff;
    border: 1px solid #949494;
    color: #606060;
    line-height: 145%;
    width: 15%;
    text-align: center;
    display: inline-block;

}
.quantity { font-size: 130%; text-align: right; padding-right:3.1%; }

span.qty {
    color: #245a98;
   /* font-weight: bold;
   font-size:130%!IMPORTANT;*/
}

button.add-cart {
    width: 95%;
   /* padding-top:5px;*/
    padding-top: 0.5%;
    font-size: 180%;
    line-height: 160%;
    margin-top: 3.5%;
	position:relative;
	font-weight:bold;
	font-style:italic;
    padding-bottom:1%;
    text-shadow: 0 -2px 0 #2a3e52;
}
button.add-cart:after, button.add-build-list:after, .blueLinkWithArrow:after {
  /*	content:' »';
   display:inline-block;*/
	font-size: 150%;
    position: relative;
    top: 4%;
    font-style: italic;
}
button.add-build-list {
    background: #eeeeee; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWQ5ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #eeeeee 0%, #d9d9d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#d9d9d9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#d9d9d9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#d9d9d9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-8 */
    color: #696969!IMPORTANT;
   /* width: 60%;*/
    font-size: 120%;
    line-height: 190%;
    padding: 0px 10% 0.5%;
    margin-top: 3.5%;
    border: 1px solid #949494;
    text-transform: none;
    font-weight: bold;
}

  /*  button.add-build-list img {
        min-width: 28px;
    }   */

a.blueLinkWithArrow, .discountinuedText a.blueLink  {
    color: #245a98;
    text-decoration: underline;
}

li.simple-li {
    border-top: 1px solid #D9D9D9;
    margin-bottom: 0;
    text-align: center;
}

li.simple-li > h2.ui-li-heading {
    font-size: 120%;
    margin: 0;
}

.ui-grid-a .simpleImage,.ui-grid-a  a.blueLinkWithArrow {
    color: #245a98;
    margin-right: 0;
    max-width: 20px;
    padding-right: 3%;
    width: 100%;
}

.outOfStockContainer {
    background-color: #eeeeee;
    color: #333;
    margin-top: 20px;
    padding: 15px 0;
}

.discountinuedText {
    color: #333;
    margin-top: 20px;
    padding: 15px 5%;
}

.share-buttons {
    position: relative;
    display: table;
    width: 100%;
    padding: 9px 0!IMPORTANT;
    border-top: 1px solid #d9d9d9;
    text-align: left;
    color: #606060;

    background: #fff;
}
.share-buttons .ui-link-inherit {
    display: table-row;
}
.share-buttons .ui-link-inherit > span {
    padding-right: 3%;
}
    .share-buttons img {
        max-height: 45px;
    }

.features, .video {
    padding: 9px 0 !IMPORTANT;
    border-top: 1px solid #d9d9d9;
    text-align: left;
    color: #606060;
}

    .features h2 {
        font-size: 130%!IMPORTANT;
        text-align: left;
    }

    .features ul {
        list-style: none;
        padding: 0;
        margin: 0 0px;
    }

        .features ul li {
            padding: 2.5px;
			font-size:100%!IMPORTANT;
            background: none !important;
            line-height: 90%;
        }

            .features ul li:before {
                content: '» ';
                font-size:100%!IMPORTANT;
                display: inline;
				top:-3%;
				position:relative;
            }

.features.video h2.ui-li-heading {
    color: #333;
    margin: 3% 0;
}
.pdp-title-price-holder h2.ui-li-heading { margin-bottom:5% !important; }


.video h2.ui-li-heading {
    color: #333;
    margin-bottom: 0%;
    position: relative;
    top: 23%;
}
.product-info h2.headTitle.ui-li-heading {
    margin-top: 4%;
}

.product-info .ui-block-b .camera {
    max-height: 35px;
    max-width: 42px;
    width: 40%;
}
.photoContainerGrid h2 {
    padding-top: 1%;
}
.photoContainerGrid .reviews-number {
    display: inline-block;
    float: right;
    padding-left: 5px;
    padding-top: 3%;
}

.photoContainerGrid a.ui-link-inherit {
    padding-top: 0;
}
.video-placeholder {
    text-align: center;
}
.video-placeholder > img {
    max-width: 557px;
    width: 100% !important;
}
.customer-photos {
    display: table;
    width: 100%;
}
 .customer-photos div {
        display: table-cell;
     padding-right: 2%;
    }

    .customer-photos img {
        border: 1px solid #d9d9d9;
        margin-right: 11px;
        max-width: 106px;
        max-height: 106px;
        width: 100% !important;
    }

.customer-submit .ui-block-b,  .more-videos .ui-block-b{ 
    text-align: right;
}
.customer-submit {
    padding: .7em 15px;
    padding-left: 0;
    margin-top: 13px;
}
.ui-li-desc { 
	margin-top:3px;
	font-size:90%!IMPORTANT;
    line-height: 130%;
}
.alsoLik .ui-li-desc {
    white-space: normal;
}
.sub-category-list .it {
    margin-left: 5px;
}


.customer-submit .ui-link {
    color: #245a98;
    font-size: 90%!IMPORTANT;
    font-style: italic;
	font-weight:normal;
}

.more-videos span.link {
    color: #245a98;
    font-size: 90%!IMPORTANT;
    text-decoration: underline;
}
.wrap {
    overflow: hidden;
    position:relative;
}

.alsoLikeSliderWrapper  {
    overflow: visible;
}

ul.alsoLikeSlider li:before {
    content: "";
}
.alsoLik ul {
	list-style:none;
	margin:0;
	padding:0;
}
.alsoLik ul li:before {
	content:'';
	display:none;
}
#pdp-section section{
	/*margin: -26px 0px 0px;*/
	border-color: #d9d9d9!IMPORTANT;
	background:#fff;
}
#pdp-section section h2 {
	font-size:153% ;
}
#pdp-section section a {
	background: #fff;
    border: 0 none;
	border-color: #d9d9d9!IMPORTANT;
}
#pdp-section .ui-collapsible-heading-collapsed {
    border: 1px solid #d9d9d9;
    border-right: 0 none;
    border-left: 0 none;
}
#pdp-section .ui-collapsible-heading {
    border-top: 1px solid #d9d9d9;
}
#pdp-section section .ui-icon {
	background:url(../img/chevron_sprite.png);
	-moz-transform: scale(1) rotate(180deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(180deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(180deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(180deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(180deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg); 
    right:2%;
    top:40%;
}
#pdp-section section.ui-collapsible-collapsed .ui-icon {
	background:url(../img/chevron_sprite.png);
	-moz-transform: scale(1) rotate(0deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg) !IMPORTANT;
	-webkit-transform: scale(1) rotate(0deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg) !IMPORTANT;
	-o-transform: scale(1) rotate(0deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg) !IMPORTANT;
	-ms-transform: scale(1) rotate(0deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg) !IMPORTANT;
	transform: scale(1) rotate(0deg) translateX(1px) translateY(1px) skewX(0deg) skewY(0deg) !IMPORTANT;
}
#pdp-section section .ui-icon:before {
	display:none;
}

#pdp-section h2 .ui-btn-text {
     display: block;
}
    #pdp-section h2 .ui-btn-text > img {
        position: absolute;
        height: 100%;
        right: 0;
    }
.header-grid-call h1{
	padding:0;
	margin:0;
	font-size:140%!IMPORTANT;
}
ul.alsoLikeSlider .ui-li-desc, .recentlyViewed .ui-li-desc{
    font-size: 100%;
    margin-top: 0;
    white-space: normal;
}

ul.alsoLikeSlider.sub-category-list .it, .recentlyViewed .it{
    text-align: left;
}

/* end PRODUCT page */

.product-details .ui-collapsible h2.ui-collapsible-heading  { margin-bottom: 0;}
.product-details .ui-collapsible-set { margin-bottom: 0;}
.product-details.custom-list li{ padding-left: 0;padding-right: 0;}
.product-details .features ul { margin-left: 0;}
.ui-collapsible  p.ui-li-desc {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
}

.ui-collapsible-content {
    padding: 10px 35px;
}

/* start Customer Photos */
@media all and (min-width: 730px) {
    .ui-bar.custom-img img {
    width: auto;
}
}

@media all and (max-width: 226px) {
    a.back-btn {
        margin-left: 0;
        margin-right: 0;
}
}

.ui-grid-a  .top-action-overlay {
    background: url(../img/top-overlay-background.png) no-repeat;
    display: block;
    position: absolute;
    right: -10px;
    height: 59px;
    width: 233px;
    z-index: 2;
}
.product-image-container {
    max-width: 620px;
    margin: 1%;
    overflow: visible;
    position: relative;
}
.product-image-container.ui-grid-a  img {
    max-width: 100%;
    width: auto;
}
.product-image-container.ui-grid-a .top-action-overlay img {
    margin: 10px 9%;
}

.product-image-container.ui-grid-a  h4 {
    background-color: #2f2f2f;
    color: #fff;
    margin: -1px 0 20px 0;
    width: 100%;
}
    .product-image-container.ui-grid-a h4 > div {
        padding: 15px 5px 5px 0;
        font-weight: normal;
    }
    .product-image-container.ui-grid-a h4 > div.ui-block-a {
        padding: 15px 0 5px 15px;
        width: 80%
    }
    .product-image-container.ui-grid-a h4 > div.ui-block-b {
        height: 100%;
        width: 20%;
    }
    .product-image-container.ui-grid-a h4 .title {
        font-weight: bold;
        font-size: 100%;
    }
    .product-image-container.ui-grid-a h4 .italic {
        font-style: italic;
        font-size: 80%;
    }
    .product-image-container.ui-grid-a h4 .likeBlock {
        height: 100%;
        margin-top: 20px;
        text-align: right;
        width: 20%;
        font-size: 80%;
    }
        .product-image-container.ui-grid-a h4 .likeBlock img {
             margin-left: 5px;
            margin-top: -12px;
        }
    
/* end Customer Photos */

/* Product Page Style */

#withAddon .ui-collapsible h2.ui-collapsible-heading { 
    margin-bottom: 0; 
}
li#withAddon {
    border-top: 0 none;
    padding: 0!important; 
    text-align: left; 
}
li#withAddon #pdp-section {
    margin: 0;
}

    li#withAddon section h2{
        font-size: 120%;
    }

.product-page-accordion .ui-icon { 
    width: 23px; 
    height: 13px; 
    background: url("../img/sprite_black_down_top_arrows.png") repeat 0 0!important;
    top: 50% !important;
}
.product-page-accordion .ui-btn-icon-left > .ui-btn-inner > .ui-icon, 
.product-page-accordion .ui-btn-icon-right > .ui-btn-inner > .ui-icon {
    margin-top: -6px; 
}
.product-page-accordion .ui-radio label {
    border: 0 none;
    font-size: 100%;
}

.product-page-accordion .ui-radio label .ui-btn-inner {
    text-align: left;
}

    .product-page-accordion .ui-radio label .ui-btn-text {
        display: block;
    }

    .product-page-accordion .ui-block-b .expander {
        background: none;
        border: 0 none;
        color: #245A98;
        margin-right: 10%;
        padding-top: 12px;
        text-decoration: underline;
    }

    .product-page-accordion .details-block {
        width: 20%;
        min-width: 60px;
    }

    .product-page-accordion .priceAdded {
        color: #245A98;
        display: inline-block;
        font-size: 100%;
        padding-bottom: 2%;
        padding-left: 40px;
    }
.smaller {
    font-size: 80%;
}
.ml18p { margin-left: 4.8% }
/* end Product Page Style */


/* start Product videos */

.warp-header .ui-grid-solo h1 { margin:3% 0; }

.back-btn-custom {
    background-image: -moz-linear-gradient(center top , #E3E4E3 0%, #C6C5C5 60%, #C5C4C4 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E9E9E9), to(#BDBDBD));
    background-image: -webkit-linear-gradient(top, #E9E9E9, #BDBDBD);
    background-image: -o-linear-gradient(top, #E9E9E9, #BDBDBD);
    background-image: linear-gradient(to bottom, #E9E9E9, #BDBDBD);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffE9E9E9', endColorstr='#ffBDBDBD', GradientType=0);
    border: 1px solid #A9A8A9 !important;
    border-radius: 4px;
    color: #2F2F2F !important;
    display: inline-block !important;
    font-size: 120%;
    font-weight: normal;
    height: auto !important;
    left: 20px;
    line-height: normal !important;
    margin-left: 2%;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 2% 5% 2% 4.5% !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    z-index: 2000;
}

.back-btn-custom:after {
    border-left: 1px solid #A9A8A9;
    content: "";
    height: 52%;
    left: -9%;
    position: absolute;
    top: 0;
    width: 16%;
	background-image: -moz-linear-gradient(center top , #E3E4E3 0%, #D2D2D2 60%, #D2D2D2 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E3E4E3), to(#D2D2D2));
    background-image: -webkit-linear-gradient(top, #E3E4E3, #D2D2D2);
    background-image: -o-linear-gradient(top, #E3E4E3, #D2D2D2);
    background-image: linear-gradient(to bottom, #E3E4E3, #D2D2D2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffD2D2D2', endColorstr='#ffBDBDBD', GradientType=0);
	-webkit-transform: skew(-35deg, 0);
	-moz-transform: skew(-35deg, 0);
	-o-transform: skew(-35deg, 0);
	-ms-transform: skew(-35deg, 0);
	transform: skew(-35deg, 0);
}

.back-btn-custom:before {
    border-left: 1px solid #A9A8A9;
    bottom: 0;
    content: "";
    height: 52%;
    left: -9%;
    position: absolute;
    width: 16%;

	-webkit-transform: skew(35deg, 0);
	-moz-transform: skew(35deg, 0);
	-o-transform: skew(35deg, 0);
	-ms-transform: skew(35deg, 0);
	transform: skew(35deg, 0);

	background-image: -moz-linear-gradient(center top , #D2D2D2 0%, #C6C5C5 60%, #C5C4C4 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D2D2D2), to(#BDBDBD));
    background-image: -webkit-linear-gradient(top, #D2D2D2, #BDBDBD);
    background-image: -o-linear-gradient(top, #D2D2D2, #BDBDBD);
    background-image: linear-gradient(to bottom, #D2D2D2, #BDBDBD);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffD2D2D2', endColorstr='#ffBDBDBD', GradientType=0);

}

.unfixed { padding-top:0 !important; }
#product-videos  { margin-bottom:10%;  }
#product-videos  .ui-bar { border-radius: 0px; padding:4% 0 4% 4%; }
#product-videos  .ui-bar img { border-radius: 0px; width:100%;}

#product-videos .ui-grid-a { position:relative; width:100% !important; display:table !important; border-bottom: 1px solid #BBBBBB; margin: 0 !important; box-shadow:1px 0 1px rgba(0,0,0,0.2);}
#product-videos .ui-block-a{  width: 46% !important; }
#product-videos .ui-block-b{  right:0; top:0; position:absolute; height:100%; padding-left: 5% !important; font-size:105%; width:53% !important; vertical-align:middle !important;}

#product-videos .ui-block-b a{
    margin-left: 0px !important;
    color: #393939;
    text-decoration: none !important ;
    font-weight: bold;
    font-size:90%;
    margin:0;
    width:100%;
    display:block;
}

.block-table-cell { display:table; width:100%; height:100%; }
.block-table-cell-inner { display:table-cell; width:100%; height:100%; vertical-align:middle;}


#product-videos .ui-block-b a:hover{
    color: #393939;
    text-decoration: none !important ;
}
#product-videos .ui-block-b .it {
    color: #245a98;
    font-style: italic !important;
    float: left;
    margin: 7% 0;
    width: 100%;
}

#product-videos .ui-block-b .smaller {
  font-size:80%;
  padding:4% 0;
  width:100%;
}
#product-videos .ui-block-b span {
  clear: both !important;
  float: left;
}

#product-videos .ui-btn-inner {
    padding: 0;
}
/* end Product videos*/

/* start Product social sharing */

.product-header-image-holder .back-btn-custom {margin-top:2.7%;}
.product-header-image { display:table; width:72%; margin-left:-3%; float:left; }
.product-header-image > img {
    float: left;
    height: auto;
    max-width: 22%;
    max-height: auto;
    border:1px solid #C8C8C8;
    margin:1.5% 0;
}
.product-header-image > h1 { color:#606060; font-size:115%; padding-left:3%; width:72%; font-style:normal !important; line-height:130%;}


#standard-list h3 { margin:3.5% 6.4%; }
#standard-list .dropdown-menu { border-top:1px solid #949494; margin-bottom:10%; }
#standard-list .dropdown-menu > li > a.btn, #standard-list .items-list > li > a.btn { padding:2.5% 5% 2.5% 9%; }
#standard-list .icon-box {
    border: none;
    display: table-cell;
    float: none;
    max-height: none;
    vertical-align: middle;
    width: 10%;
}
#standard-list .icon-box img { width:100%; }
#standard-list .option {
    display: table-cell;
    float: none;
    font-size: 115%;
    padding: 0 0 0 5%;
    vertical-align: middle;
    width: 70%;
}
#standard-list .arrow {
    display: table-cell;
    float: none;
    font-size: 180%;
    vertical-align: middle;
    width: 3%;
}
.share .arrow { font-size: 200%; float: right; position: relative;  right: 15px;}
.share .item b { font-size: 130%; color:#2f2f2f; line-height: 233%; }
.nopadd { padding-left: 0; padding-right:4%; }
/* end Product social sharing */

.add-cart span.arrow  {
    color: #ffffff;
    text-shadow: 0 -2px 0 #2a3e52;
    font-size: 130%;
}
.add-cart span.plus {
    top:5px;
    color: #ffffff;
    text-shadow: 0 -2px 0 #2a3e52;
}
.add-build-list span.arrow{
    color: #606060;
    font-size: 150%;
    font-style: normal;
}
ul.custom-list li.prn{
    padding-right: 0 !important;
}
.features span.ui-icon {   top:35% !important;   }
.features.fea2 span.ui-icon {   top:24% !important;   }
.features.fea2 .reviews-number {   bottom:-3px !important;   }
.reviews-list span.ui-icon {   top:35% !important;   }
.reviews-list span.stars {   font-size: 115% !important;   }
.fea2 a.ui-link-inherit {
  padding-bottom: 0 !important;
}
.video-placeholder img { width: 100% !important; }
.wrap a {
    display:block;
    font:bold 6em Arial;
    color:#999 !important;
    position:absolute;
    top:20%;
    text-decoration:none;
}
.wrap a#prod-view-prev {
    left:0;
}
.wrap a#prod-view-next {
    right:0;
}
.wrap img {
    width: 100%;
    height: auto;
}
.wrap > div:first-child {
    background:url("plugins/owl-carousel/AjaxLoader.gif") no-repeat scroll center center #FFFFFF;
    height:100%;
    width:100%;
    position:absolute;
    z-index:100;
    opacity:0.8;
}
.owl-carousel {
    width:80%;
    margin:0 auto;
}
.owl-theme .owl-controls .owl-page span {
    margin:0 3px 5px;
    width:8px;
    height:8px;
}

section#ppp-select .ui-icon {
    background-image: url("../img/chevron_sprite.png");
    background-size:cover;
}
section#ppp-select .ui-btn-up-c {
    background: none;
}
section#ppp-select .ui-icon {
    display: block;
}
section#ppp-select .ui-icon.ui-icon-arrow-u {
    background-position:-18px 0;
}
section#ppp-select .ui-icon.ui-icon-arrow-d {
    background-position:0 0;
}
section#ppp-select .ui-btn-up-c { background: none; border:none;}
section#ppp-select .ui-btn-inner { padding-left: 0.5em; }
#ppp-options { padding: 0 !important; }
ul.product-info #ppp-select .ui-btn-inner > .ui-icon { top: 50%; }
#ppp-select section { border-bottom: 1px solid #d9d9d9 !IMPORTANT; }
#ppp-select section:last-child { border: none; }
#ppp-select { margin: 0; }
#ppp-select section h2 {
    text-shadow: none;
    font-size: 120%;
}
#ppp-select section h2.col-active span.ui-btn-text { color: #F58320; }
#ppp-select section h2.col-disabled span.ui-btn-text { color: #ccc; }
#ppp-select .ui-collapsible.ui-first-child .ui-collapsible-content ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
#ppp-select .ui-collapsible.ui-first-child .ui-collapsible-content ul li {
    display:inline-block;
    border:1px solid #ccc;
    background:#E2E4E6;
    margin:0 0.5em;
}
#ppp-select .ui-collapsible.ui-first-child .ui-collapsible-content ul li a {
    display:block;
    font:bold 130% Arial;
    text-decoration:none;
    color:#222;
    text-shadow:none;
    padding:0 2em;
}
#ppp-select .ui-collapsible.ui-last-child .ui-collapsible-content ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
#ppp-select .ui-collapsible.ui-last-child .ui-collapsible-content ul li {
    display:inline-block;
    padding:2% 5%;
    max-width:15%;
    vertical-align:top;
}
#ppp-select .ui-collapsible.ui-last-child .ui-collapsible-content ul li a {
    text-decoration:none;
    text-align:center;
    color:#222;
}
#ppp-select .ui-collapsible.ui-last-child .ui-collapsible-content ul li a span {
    display: block;
}
#ppp-select .ui-collapsible.ui-last-child .ui-collapsible-content ul li a span:first-child {
    outline:1px solid #666 !important;
    margin:0 auto;
    height:3em;
    width:80%;
}
#ppp-select .ui-collapsible.ui-last-child .ui-collapsible-content ul li a span:last-child {
    margin:5px 0 0;
}
  

        