@model MyCompany.BusinessModel.Models.HomeModel

@{
    ViewBag.Title = "HomePage";
}

@section Head 
{
    
}



<h1>Home Page</h1>

@Html.Partial("_BazaarVoice", Model.SKU)



@section StartupScripts
{

}