@model MyCompany.Web.Mvc.Models.HomeModel

@{
    ViewBag.Title = "HomePage";
}

@section Head 
{
    
}





<h1>Home Page</h1>

@*@Html.Partial("_BazaarVoice", Model.SKU)*@

@Html.Action("GetReviews", new { productId = Model.SKU })

@section StartupScripts
{

}