@model Turn5.AM.Models.Admin.MarketingInitiative.Initiatives

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageHeader
{
    Marketing Initiatives
}

<div id="mi-admin-container">
    @Html.Partial("_Grid", Model)
</div>

@section startupScripts {
    <script type="text/javascript">
        HighlightMenuItem("marketing-initiatives");
    </script>
}