<appSettings>

  <!-- Base Paths -->
  <add key="Turn5BasePath" value="http://local.americanmuscle.com"/>
  <add key="BazaarVoiceBasePath" value="http://stg.api.bazaarvoice.com/"/>

  <!-- Bazaar Voice -->
  <add key="BazaarVoiceKey" value="whu4rjbhv5ee35t8q7uezefs"/>

  <add key="TestSetting" value=""/>
  
</appSettings>
