<appSettings>

  <!-- Base Paths -->
  <add key="Turn5BasePath" value="http://local.americanmuscle.com"/>
  <add key="BazaarVoiceBasePath" value="http://stg.api.bazaarvoice.com/"/>

  <!-- Bazaar Voice -->
  <add key="BazaarVoiceKey" value="whu4rjbhv5ee35t8q7uezefs"/>

  <!-- In seconds for development -->
  <add key="BazaarVoiceCacheExpiration" value="30"/>
  <!-- In days for production -->
  <!--<add key="BazaarVoiceCacheExpiration" value="30"/>-->

  <add key="TestSetting" value=""/>
  
</appSettings>
