<appSettings>

  <!-- Base Paths -->
  <add key="Turn5BasePath" value="http://local.americanmuscle.com"/>

  <!-- PROD -->
  <add key="BazaarVoiceBasePath" value="http://api.bazaarvoice.com/"/>
  <!-- STAGING-->
  <!--<add key="BazaarVoiceBasePath" value="http://stg.api.bazaarvoice.com/"/>-->

  <!-- Bazaar Voice -->
  <!-- PROD -->
  <add key="BazaarVoiceKey" value="iff2ag5avxj8t8mi0d98gkce5"/>
  <!-- STAGING-->
  <!--<add key="BazaarVoiceKey" value="whu4rjbhv5ee35t8q7uezefs"/>-->
  <add key="BazaarVoiceApiVersion" value="5.4"/>
  <add key="BazaarVoiceResultLimit" value="20"/>
  <add key="BazaarVoiceResultSort" value="Rating:desc"/>
  <add key="BazaarVoiceResultFilter" value=""/>
  <!-- In seconds for development -->
  <add key="BazaarVoiceCacheExpiration" value="30"/>
  <!-- In days for production -->
  <!--<add key="BazaarVoiceCacheExpiration" value="30"/>-->

  <add key="TestSetting" value=""/>
  
</appSettings>
