@model MyCompany.Web.Mvc.Models.BazaarVoiceModel

@{
    ViewBag.Title = "Review";
}

<h2>Review Submission</h2>

<div style="border-radius: 8px; background-color: lightgray; border: solid 1px black">
    @using (Html.BeginForm("AddReview", "HomePage", FormMethod.Post, new Dictionary<string, object> { { "id", "review-form" } }))
    {
        
    }
</div>