html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    font-family: Arial, Verdana;
    font-size: 13px;
	vertical-align: baseline;
}

ul {
    margin-left: 16px;
}

.hidden-element {
    display: none;
}

/* Main */
#main-container {
    height: 800px;
}

#main-container #header {
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border-bottom: solid 1px black;
}

#main-container #left-menu {
    position: absolute;
    left: 0;
    top: 44px;
    width: 190px;
    height: 100%;
    border-right: solid 1px black;
    border-top: solid 1px black;
    padding-top: 5px;
    background-color: #13417d;
}

#main-container #content {
    position: absolute;
    left: 190px;
    top: 44px;
    width: 100%;
    height: 100%;
    padding: 6px;
}

#main-container #content #content-header {
    font-size: 18px;
    font-family: Verdana;
    margin-bottom: 10px;
}

#menu-container ul {
    padding-right: 6px;
    padding-top: 3px;
    margin-left: 6px;
}

    #menu-container ul > li {
        list-style-type: none;
        border: solid 1px black;
        border-radius: 6px;
        background-color: #d3dce6;
        padding: 0;
        margin-bottom: 4px;
    }

        #menu-container ul > li:hover {
            background-color: white;
        }

        #menu-container ul > li a {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 6px;
            color: black;
        }

            #menu-container ul > li a:link {
                text-decoration: none;
            }
            #menu-container ul > li a:visited {
                text-decoration: none;
            }
            #menu-container ul > li a:active {
                text-decoration: none;
            }
            #menu-container ul > li a:hover {
                text-decoration: none;
            }

/* Marketing Initiatives */
#mi-container .marketing-textbox {
    width: 200px;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
}
#mi-container .marketing-submit {
    width: 100px;
    border-radius: 4px;
    height: 28px;
}
#mi-container .marketing-date-format {
    margin-left: 88px;
    font-weight: bold;
    color: #2600ff;
}
#mi-container .marketing-date-validator {
    color: red;
    margin-left: 94px;
    display: none;
}
#mi-container .current-cookie-value {
    color: #2600ff
}
#mi-container ul {
    list-style-type: none;
}
#mi-container h4 {
    padding-top: 10px;
}

/* Campaigns */
#campaign-container .campaign-textbox {
    width: 200px;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
}
#campaign-container .campaign-submit {
    width: 152px;
    border-radius: 4px;
    height: 28px;
}
#campaign-container .campaign-date-format {
    margin-left: 88px;
    font-weight: bold;
    color: #2600ff;
}
#campaign-container .campaign-message {
    margin-left: 88px;
    font-size: 13px;
    color: #2600ff;
}
#campaign-container .campaign-date-validator {
    color: red;
    margin-left: 110px;
    display: none;
}
#campaign-container .current-cookie-value {
    color: #2600ff
}
#campaign-container ul {
    list-style-type: none;
}


/* Header Dump */
#header-dump-container ul {
    padding: 4px;
    border: solid 1px black;
    border-radius: 4px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: 800px;
    list-style-type: none;
}

#header-dump-container ul > li {
    padding-bottom: 5px;
}

/* Initiatives grid */
#mi-admin-grid {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 1360px;
    border-collapse: collapse;
}

    #mi-admin-grid tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    #mi-admin-grid tfoot {
        text-align: center;
    }

    #mi-admin-grid thead #pager {
        text-align: center
    }

    #mi-admin-grid tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    #mi-admin-grid .details-row {
        display: none;
        width: 100%;
    }

    #mi-admin-grid tr .details-cell {
        
    }

    #mi-admin-grid tbody tr:hover {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        background-color: #f7a663;
        cursor: pointer;
    }

    #mi-admin-grid th {
        font-size: 1.2em;
        border: 1px solid #8298b0;
        padding: 3px 7px 2px 7px;
        text-align: left;
        background-color: #8298b0;
        color: white;
    }

        #mi-admin-grid th a {
            color: white;
        }

    #mi-admin-grid td {
        font-size: 1.2em;
        border: 1px solid #8298b0;
        padding: 3px 7px 2px 7px;
        vertical-align: middle;
    }

    #mi-admin-grid .mi-name {
        width: 200px;
    }

    #mi-admin-grid .mi-generation {
        width: 50px;
    }

    #mi-admin-grid .mi-type {
        width: 60px;
    }

    #mi-admin-grid .mi-url {
        width: 250px;
    }

    #mi-admin-grid .mi-alttext {
        width: 250px;
    }

    #mi-admin-grid .mi-startdate {
        width: 100px;
    }

    #mi-admin-grid .mi-enddate {
        width: 100px;
    }

    #mi-admin-grid .mi-enabled {
        width: 10px;
        text-align: center;
    }

    #mi-admin-grid .mi-priority {
        width: 30px;
        text-align: center;
    }

    #mi-admin-grid .mi-prodlink {
        width: 30px;
        text-align: center;
    }

    #mi-admin-grid .mi-cmslink {
        width: 30px;
        text-align: center;
    }

    #mi-admin-grid .mi-delete {
        width: 10px;
        text-align: center;
    }

#initiative-edit-modal {
    display: none;
}

    #initiative-edit-modal #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        filter:alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        z-index: 10000;
    }

    #initiative-edit-modal #edit-modal-container {
        position: absolute;
        padding: 20px;
        border: solid 1px white;
        border-radius: 8px;
        background-color: #8298b0;
        height: 500px;
        width: 700px;
        z-index: 10001;
    }

    #initiative-edit-modal #modal-submission {
        text-align: right;
    }


#edit-modal-container form {
    width: 100%;
    overflow:hidden;
}

#edit-modal-container label {
    clear: both;
    float: left;
    width: 160px;
}

#edit-modal-container input {
    float: left;
    width: 300px;
    text-align: left;
}

#edit-modal-container #modal-submission {
    float: right;
}

#edit-modal-container #modal-submission input {
    float: left;
    width: 80px;
}