@model MyCompany.Web.Mvc.Models.BazaarVoiceReviews

<div id="bv-content">
    <ul>
        @foreach (var review in Model.Results)
        {
            <li>Title: @review.Title</li>
            <li>Name: @review.UserNickname</li>
            <li>Rating: @review.Rating.ToString()</li>
            <li>Review: @review.ReviewText</li>
        }
    </ul>
</div>