@model Turn5.BusinessModel.Models.HomeModel

@{
    ViewBag.Title = "HomePage";
}

@section Head 
{

}


<h1>BIG TEXT</h1>

<h1>MORE BIG TEXT</h1>

@Html.Partial("_Header")

<div style="color: red">
    @Html.Partial("MyPartial")
</div>

@Html.Link("Product", "/product", null)

@section StartupScripts
{
    <script language="javascript">
        $("#viewer").RenderViewer('@Model.SKU');
    </script>
}