@model Turn5.BusinessModel.Models.HomeModel

@{
    ViewBag.Title = "HomePage";
}

@section Head 
{

}

@Html.Partial("_Header")

<h1>A TEST 1234 MORE</h1>

<h2>HELLO WORLD</h2>

<div style="color: red">
    Another Change
    @Html.Partial("MyPartial")
</div>

@Html.Link("Product", "/product", null)

@section StartupScripts
{
    <script language="javascript">
        $("#viewer").RenderViewer('@Model.SKU');
    </script>
}