<connectionStrings>
  <!--<add name="AMConnection" providerName="System.Data.SqlClient" connectionString="Server=WOM-FTW89Y1;Database=Sandbox;Integrated Security=SSPI;" />-->
  <add name="AMConnection" providerName="System.Data.SqlClient" connectionString="Data Source=WOM-FTW89Y1;Initial Catalog=Sandbox;User Id=SandboxAdmin;Password=beckyd25;" />
  <add name="XTConnection" providerName="System.Data.SqlClient" connectionString="Server=DEV_DB;Database=Sandbox;Integrated Security=SSPI;" />
</connectionStrings>
