@model string

@{
    ViewBag.Title = "ImageViewer";
}

@section Head 
{
    
}

<h1>Image Viewer</h1>

<h3>CHANGE: @Model</h3>

<div class="wrap top-slider-pdp">
    <a href="javascript:;" id="prod-view-prev" class="viewer-control">&lsaquo;</a>
    <section class="owl-carousel"></section>
    <a href="javascript:;" id="prod-view-next" class="viewer-control">&rsaquo;</a>
</div>

@section StartupScripts
{
<script type="text/javascript">

    var viewerJSON;
    $(".owl-carousel").owlCarousel({
        items: 1,
        lazyLoad: true,
        navigation: false,
        addClassActive: true,
        jsonPath: '/ajax/getimages?catalogid=',
        jsonSuccess: function (data) {
            viewerJSON = $.parseJSON(data);
            var viewerContent = '';
            for (var i in viewerJSON['ProdViewer']) {
                var img = viewerJSON['ProdViewer'][i].Item;
                var colorize = viewerJSON['ProdViewer'][i].Color;
                if (i == 0) {
                    viewerContent += "<div><img src=" + img + " data-colorize=" + colorize + " /></div>";
                }
                else {
                    viewerContent += "<div><img class='lazyOwl' data-src=" + img + " data-colorize=" + colorize + " /></div>";
                }
            }
            $(".owl-carousel").html(viewerContent);
        }
    });
    prodViewer = $(".owl-carousel").data('owlCarousel');
    $('.viewer-control').click(function () {
        if (this.id == 'prod-view-prev')
            prodViewer.prev();
        else
            prodViewer.next();
    });
    
</script>

}