@using MyCompany.Web.Mvc.Models
@model KendoModel

@{
    ViewBag.Title = "Telerik Controls";
}
<h1>Telerik Grid Controls</h1>

@*@Html.Partial("_InlineEditGrid", Model)
@Html.Partial("_BatchEditGrid")*@
@Html.Partial("_Grid", Model)

@section StartupScripts
{
    <script type="text/javascript">
        
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
        
    </script>
}