@using MyCompany.Web.Mvc.Models
@model string

@{
    ViewBag.Title = "Telerik Controls";
}

@section Head 
{
    
}

<h1>Telerik Grid Controls</h1>
@Html.Link("Inline Edit Grid", "/?grid=inline")<br />
@Html.Link("Batch Edit Grid", "/?grid=batch")
<br/><br />

@if (Model != null)
{
    if (Model.ToLower() == "inline")
    {
        @Html.Partial("_InlineEditGrid")
    }
    else if (Model.ToLower() == "batch")
    {
        @Html.Partial("_BatchEditGrid")
    }
}

@section StartupScripts
{
    <script type="text/javascript">
        
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
        
    </script>
}