@{
    ViewBag.Title = "JqueryGuts";
}

<h2>Jquery Guts</h2>

<div id="main-container">
    <div id="header">
        Here's the header
    </div>
    <div id="content">
        <ul class="content-list">
            <li>Dummy Text 1</li>
            <li>Dummy Text 2</li>
            <li>Dummy Text 3</li>
            <li>Dummy Text 4</li>
            <li>Dummy Text 5</li>
        </ul>
        <div class="style-me">
            This is styled text.
            <div class="style-me-again">
                This is some more styled text.
            </div>
        </div>
    </div>
    <div id="footer">
        Here's the footer
    </div>
    <a href="#" onclick="testJquery();">Text Jquery</a>
</div>

@section StartupScripts
{
    <script type="text/javascript">
        
        var testJquery = function() {
            $("#header").text("Replaced header text");

            $(".content-list li").each(function(el) {
                alert(el);
            });

            $("#content div").text("Replace content text");
            $(".style-me").addClass("something-else");
            $(".style-me .style-me-again").addClass("another-class");
        }

    </script>
}
